@using Quick.Fields

<span class="@ControlUtils.GetCommonClass(Field)" style="@Field.Html_Style">
    @Field.Value
    @if (Field.Children != null)
    {
        @foreach (var child in Field.Children)
        {
            <Control Field="@child" />
        }
    }
</span>

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }
}